<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="domain.WifiInfoDTO" alias="wifiInfoDTO"/>
        <typeAlias type="domain.NearWifiDTO" alias="nearWifiDTO"/>
        <typeAlias type="domain.LocationHistoryDTO" alias="locationHistoryDTO"/>
        <typeAlias type="domain.BookmarkGroupDTO" alias="bookmarkGroupDTO"/>
    </typeAliases>

    <environments default="">
        <environment id="">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="jdbc:sqlite:D:/SQLite/DB Browser for SQLite/mission1.db"/>
            </dataSource>
        </environment>
    </environments>
<!--  SQLite 정보  -->

    <mappers>
        <mapper resource="wifiInfoMapper.xml"/>
        <mapper resource="locationHistoryMapper.xml"/>
        <mapper resource="bookmarkGroupMapper.xml"/>
        <mapper resource="bookmarkMapper.xml"/>
    </mappers>
<!--  query문 mapper  -->
</configuration>