<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookmarkGroupSQL">
    <insert id="saveBookmarkGroup">
        insert into bookmarkGroup (bookmarkName, orderNum, registerDate)
        values('${bookmarkName}', ${orderNum}, datetime('now', 'localtime'));
    </insert>

    <select id="loadBookmarkGroupList" resultType="bookmarkGroupDTO">
        select * from bookmarkGroup order by orderNum;
    </select>

    <delete id="deleteBookmarkGroup">
        delete from bookmarkGroup where id = ${id};
    </delete>

    <select id="loadBookmarkGroup" resultType="bookmarkGroupDTO">
        select * from bookmarkGroup where id = ${id};
    </select>

    <update id="updateBookmarkGroup">
        update bookmarkGroup set (bookmarkName, orderNum, updateDate)
            = ('${bookmarkName}', ${orderNum}, datetime('now', 'localtime')) where id = ${id};
    </update>
</mapper>