<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wifiInfoSQL">
    <insert id="insertWifiInfo">
        insert into wifiInfo values
            <foreach item="item" collection="list" separator=",">
            (#{item.X_SWIFI_MGR_NO}
            , #{item.X_SWIFI_WRDOFC}
            , #{item.X_SWIFI_MAIN_NM}
            , #{item.X_SWIFI_ADRES1}
            , #{item.X_SWIFI_ADRES2}
            , #{item.X_SWIFI_INSTL_FLOOR}
            , #{item.X_SWIFI_INSTL_TY}
            , #{item.X_SWIFI_INSTL_MBY}
            , #{item.X_SWIFI_SVC_SE}
            , #{item.X_SWIFI_CMCWR}
            , #{item.X_SWIFI_CNSTC_YEAR}
            , #{item.X_SWIFI_INOUT_DOOR}
            , #{item.X_SWIFI_REMARS3}
            , #{item.LAT}
            , #{item.LNT}
            , #{item.WORK_DTTM})
            </foreach>
    </insert>

    <delete id="delete">
        delete from wifiInfo;
    </delete>

    <select id="loadNearWifi" resultType="nearWifiDTO">
        select
            ROUND((6371*acos(cos(radians(${lat}))*cos(radians(LAT))*cos(radians(LNT)
                -radians(${lnt}))+sin(radians(${lat}))*sin(radians(LAT)))), 3)
                as DISTANCE,
            *
        from wifiInfo
        order by DISTANCE
            limit 20;
    </select>

    <select id="loadDetail" resultType="wifiInfoDTO">
        select * from wifiInfo where X_SWIFI_MGR_NO = '${mgrNo}';
    </select>
</mapper>